body {
  font-family: monospace;
  color: #333;
  font-weight: bold;
  font-size: larger;
  background-color: #9256dc8e;
}
/*Estilos do cabeçalho*/
header {
  background-color: #772cd3;
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.flex-container1 {
  width: 700px;
  color: #311553;
  background-color: #88d32c;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.flex-container2 {
  margin: auto;
  color: black;
  background-color: #772cd3;
  display: flex;
  justify-content: flex-end;
  padding: 0 100px;
  align-items: center;
}
li {
  list-style-type: none;
}
.box1 {
  padding: 10px;
  font-family: 'Fugaz One', cursive;
  font-size: medium;
}
.box2 {
  padding: 10px;
}
.flex-container1:hover {
  background-color: black;
  color: #9256dc;
  transition: color 1s;
}
.box2:hover {
  font-size: large;
}
.footer {
  background-color: #772cd3;
  text-align: center;
  color: #000000;
}

/*Estilo box dos pets*/
.container {
  max-width: 100vw;
  margin: 0 auto;
}

.item {
  height: 200px;
  width: 200px;
  margin: 5px;
  background: cyan;
  font-size: 1.5em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 200px;
  width: 200px;
}
@media only screen and (max-width: 700px) {
  .flex {
    flex-direction: column;
  }
  .flex-container1 {
    display: none;
  }
  img {
    height: 400px;
    width: 400px;
  }
  .item {
    height: 400px;
    width: 400px;
}